Django==4.2.0
gunicorn==21.2.0
psycopg2-binary==2.9.6
celery==5.2.7
redis==4.5.4
# It is better to separate libraries for orchestrating, e.g. by Celery works, from the requirements for the project itself.
gevent==24.11.1